.footer-text p {
    color: whitesmoke;
    margin: 8px 0;
    padding: 0;
}

.carousel {
    position: relative;
    z-index: 0;
}

.carousel-item {
    height: 200px;
}

a:hover {
    text-decoration: none;
}