@import url('login.css');
.login-block {
    min-height: calc(100vh - 37px);
    background-image: url("../../img/backgrounds/LoginWallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-block .card {
    min-height: 360px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social-icon span {
    font-size: 60px;
    margin-left: 10px;
    color: whitesmoke;
}

.social-icon span:hover {
    color: #9a9da0;
    cursor: pointer;
}

.login-main .card-header h3 {
    color: whitesmoke;
}

.social-icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 40px;
    background-color: whitesmoke;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: whitesmoke;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login-btn {
    color: black;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
}

.login-btn:hover {
    color: black;
    background-color: #9a9da0;
}

.links {
    color: whitesmoke;
}

.links a {
    margin-left: 4px;
    font-weight: 600;
}