.registration-block {
    min-height: calc(100vh - 37px);
    background-image: url("../../img/backgrounds/RegistrationWallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.registration-block .card {
    min-height: 450px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.registration-main .card-header h3 {
    color: whitesmoke;
}

.registration-main .input-group-prepend span {
    width: 50px;
    background-color: whitesmoke;
    color: black;
    border: 0 !important;
}

.registration-main input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.registration-btn {
    color: black;
    background-color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 30px;
}

.registration-btn:hover {
    color: black;
    background-color: #9a9da0;
}
