@model AccountViewModel

<div class="login-block d-flex align-items-center">
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="login-main card">
                <div class="card-header">
                    <h3>Вхід</h3>
                    <div class="d-flex justify-content-end social-icon">
                        <span><i class="fab fa-facebook-square"></i></span>
                        <span><i class="fab fa-google-plus-square"></i></span>
                        <span><i class="fab fa-twitter-square"></i></span>
                    </div>
                </div>
                <div class="card-body">
                    <form asp-action="Login" method="post">
                        <span asp-validation-for="Login" class="text-danger"></span>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="логін">
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="пароль">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Запам'ятати мене
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Увійти" class="btn float-right login-btn">
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="d-flex justify-content-center links">
                        Ще не зареєстровані?<a asp-controller="Account" asp-action="Registration">Зареєструватися</a>
                    </div>
                    <div class="d-flex justify-content-center links">
                        <a href="#">Забули пароль?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>